<div class="container text-center">
  <h1>See our Restaurants</h1>
  <br>
  <h2><%= @restaurant.name %></h2>
  <h3><b>Category: </b><%= @restaurant.category.capitalize %></h3>
  <h3><b>Address: </b><%= @restaurant.address %></h3>
  <h3><b>Phone: </b><%= @restaurant.phone_number %></h3>
  <h3><b><%= @restaurant.reviews.count %> reviews</b></h3>
  <h3><b>Average Rating: </b><%= @restaurant.reviews.average(:rating) %></h3>
  <br>
  <ul class="list-inline">
    <li><%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-warning"%></li>
    <li><%= link_to "Back to All Restaurants", restaurants_path, class: "btn btn-primary"%></li>
  </ul>
</div>
